setuptools
logzero
git+https://github.com/Rapptz/discord.py
asyncpg
python-Levenshtein
fuzzywuzzy
tabulate
pylast
qrcode
pillow
aiohttp
git+https://github.com/Rapptz/discord-ext-menus
webcolors
jishaku
alt-discord-flags
toml