setuptools
logzero~=1.7.0
git+https://github.com/Rapptz/discord.py
asyncpg~=0.26.0
python-Levenshtein
fuzzywuzzy~=0.18.0
tabulate~=0.8.10
pylast
qrcode~=7.3.1
pillow~=9.2.0
aiohttp
git+https://github.com/Rapptz/discord-ext-menus
webcolors~=1.12
jishaku
alt-discord-flags
toml~=0.10.2