[Unit]
Description=Terrygon discord bot

[Service]
WorkingDirectory=/path/to/bot
ExecStart=/path/to/bot/virtualenv/bin/python /path/to/bot/main.py
Restart=always

[Install]
WantedBy=default.target